{var $title = 'Mistrovské energie'}

{block content}
<h2>Mistrovské energie</h2>
<p>
	<img class="left" src="img/jednorozec.jpg" alt="Jednorožec" title="Jednorožec" />
	Zasvěcení do Mistrovských energetických systémů léčivých energií je vůbec pro mnoho lidí,
	kteří mají alespoň trochu vnímavost pro jemné energie, nádherný zážitek.
	Mimoto, že jsem přírodní živel a nikdy, ani v noci, se nebojím sama v lese,
	jsem léčitelka, učitelka, médium,cumělkyně a dejme tomu i “čarodějnička” jak mě někteří nazývají,
	což všechno dohromady překladu lze vyjádřit jedním slovem = šaman,
	jsem také Mistr učitel zmiňovaných energetických systémů jako je <b>Rei-ki, Shamballa, Ra Sheeba a Máhatmá</b>.
</p>
<p>
	Po zasvěcení do těchto vysokovibračních vesmírných mistrovských systémů jsem velice toužila, narozdíl od zasvěcení do šamanizmu,
	o němž jsem neměla ponětí a do něhož přišlo zasvěcení jaksi “mimochodem”.
	Do prvních dvou stupňů Rei-ki mě zasvětila sama Mary Hall v roce 1997 a 1998
	(tady si dovolím říci, že se mi vůbec nelíbí pomluvy, které se šíří směrem k její osobě)
	a mnohem později jsem se stala také Mistrem učitelem Rei-ki skrze paní
	<a target="_blank" href="http://enerveaze.cz/">Zdenu Šeborovou</a>, jíž si velice vážím.
	Pokud nevíte, co je Rei-ki, tak níže nejen o Rei-ki píšu podrobněji.
</p>
<p>
	<img class="right" src="img/planeta-slunce.jpg" alt="Planeta" title="Planeta" />
	Shamballa mě doslova fascinovala, jelikož jedna z mých nejoblíbenějších knih je duchovně-dobrodružný román “Tajemství Shambhaly”.
	Do Shambally jsem byla zasvěcená také dvěma učiteli v průběhu let 2008 až 2010 – do prvních stupňů
	<a target="_blank" href="http://www.kouzelnysvetenergie.cz">Taťjanou Kříženeckou</a>,
	do nejvyšších stupňů paní <a target="_blank" href="http://www.lecitelstvi-shamballa.cz">Katkou Chaloupkovou</a>.
	Byly to fantastické zážitky a práce s touto energií je pro mě i pro klienty pohádkově nádherná.
</p>
<p>
	K Ra Sheebě jsem měla nejprve odstup až odpor.
	Netoužila jsem po staroegyptských energiích a nedůvěřovala jsem jim.
	Až teprve, když mi toto zasvěcení v roce 2010 nabídla Taťjana Kříženecká,
	jsem se k němu odhodlala, protože jsem k ní měla důvěru.
	K tomu chci říci, že ten, kdo má silnou Staroegyptskou minulost,
	tedy významné tehdejší životy a ne vždy v pozitivním smyslu toho slova,
	pro toho je toto zasvěcení určitým číhajícím nebezpečím.
	Brzda, kterou jsem pociťovala vůči tomuto zasvěcení,
	byla vlastně pojistkou před infiltrací energie tehdejších životů do mého současného života.
	A to bylo tak silné, jak v pozitivním, tak v negativním smyslu,
	že se to nedá pochopit ani ze setiny bez vlastního prožitku.
</p>
<p>
	Používáním egyptských energií a opakovaným zasvěcováním klientů jsem získávala samovolně
	vyšší a vyšší stupně	vysoko nad standardním Mistrovským stupněm, tedy ty,
	s nimiž jsem tenkrát kdysi skutečně pracovala, a to ne vždy v pozitivním smyslu slova.
	Ra Sheeba a egyptské energie vůbec (Ra Sheeba je jen dílek těchto starobylých mocných energií) se dají i zneužít.
	Mají neutrální charakter, pokud je posuzujeme z kladně/záporného duchovního úhlu pohledu.
	Například Shamballu a Rei-ki nelze zneužít, protože jsou stvořené pouze z lásky.
	Jenže Ra Sheeba je SÍLA. Je to dynamická energie moci a sebevědomí a regenerace.
</p>
<p>
	<img class="left" src="img/svetelna-holubice.jpg" alt="Světelná holubice" title="Světelná holubice" />
	Moc, jak je o ní známo, nemá jen pozitivní charakter.
	A kdo ji někdy v minulosti zneužil proti sobě nebo proti druhým,
	tomu může zasvěcení do Staroegyptských energií pěkně zavařit.
	Já jsem se v tom delší dobu “topila”, a nebylo to vůbec nic příjemného.
	Vrátila se mi minulost do současnosti natolik,
	že to zatěžovalo veškeré moje fungování a nemohla jsem se toho delší dobu zbavit.
	A znám více podobných případů.
	Ra Sheeba má ještě tu vlastnost, že pokud jste tuto energii výrazněji v minulosti
	(v minulých životech – např. Jako faraon nebo velekněžka) používali a uctívali,
	pak nemusíte ani na zasvěcení do Ra Sheeby chodit k žádnému mistrovi, můžete si je stáhnout sami.
	Ale nedoporučuji to.
	Někdy se to stane spotnánně, a to pak je v pořádku.
	Tato energie sama o sobě může být velice užitečná a pomocná,
	ale má i svoji opačnou stránku a musí se s ní jednat opatně v případě, že se vás historicky týká.
</p>

<h2>Máhatmá, Shamballa, Ra – Sheeba, Reiki</h2>
<p>
	<img class="right" src="img/svetelna-brana.jpg" alt="Světelná brána" title="Světelná brána" />
	Tyto a další Mistrovské Energie jsou v současné době hojně vyhledávané za účelem uzdravování duše a těla,
	z touhy po kontaktu s jemnohmotným světem a samozřejmě urychlení duchovního růstu.
</p>
<p>
	Na mnoha stránkách a v mnohých materiálech se dočtete,
	že se Mistrovské léčebné energie dají použít na “všechno”…a že “léčí všechno d A-Z”.
	Poté mnozí nadšenci horlivě běží odzkoušet takové působení k příslušnému terapeutovi a poté jsou často rozčarování,
	jelikož čekali ZÁZRAK, naprosté uzdravení, nebo dokonce OSVÍCENÍ.
	Domnívám se, že kromě “zasvěcovačů”, kteří se mnohdy takto snaží znásobit své příjmy,
	vznikla tato domněnka ze situací, kdy určitý člověk při kontaktu s některou Mistrovskou energií “prozřel” - jeho duše se doslova probudila.
	Není to ojedinělé, stává se to, ale je potřeba uvědomit si, že duše takového člověka již měla nastřádané zkušenosti a zvládnuté určité lekce.
	Proto se zasvěcení, nebo pouzé působení Mistrovské energie stalo určitým spouštěcím mechanizmem.
</p>
<p>
	Je bláhové se domnívat, že Mistrovské energie za vás vyřeší vaše problémy!
</p>

<h2>Léčebné energie Bytostí z Vyšších světů</h2>
<p>
	<img class="left" src="img/delfini.jpg" alt="Delfín" title="Delfín" />
	Ve všech výše i níže uvedených příkladech se jedná o velice posvátné léčebné energie Bytostí z Vyšších světů,
	které je darovaly nám lidem z velké Lásky a touhy pomoci nám se zdokonalit.
	Pokud je taková energie předávána člověkem, který má úctu k ní i ke klientovi,
	pak je duše klienta touto energií oslovena, povznesena a probouzí v něm touhu po kvalitnějším a šťastnější životě.
	Jeho osobnost se dostává do větší harmonie s myslí a srdcem a často odcházejí i zdravotní potíže.
</p>
<p>
	Mistrovská energie nám za určitých odkolností může usnadnit postup kupříkladu tím,
	že pomůže odstranit nadměrné překážky ve způsobu myšlení,
	posílí naše schopnosti rozhodovat sám za sebe, nebo zvýší spirituální ochranu.
</p>
<p>
	Pokud však klient není připraven (nebo ochoten) se posunout vědomě na své cestě,
	ztrácí i taková energie u něho na síle a moci.
	Je to podobné, jako s našimi Strážci z jemněhmontných sfér.
	Mohou nám pomoci efektivně za předpokladu, ŽE S NIMI SPOLUPRACUJEME.
</p>
	<b>
		Mistrovské Energie skutečně mají obrovský potenciál uzdravovat,
		pomáhat a osvětlovat duše lidí, ale jejich projev na těle a mysli klienta naprosto závisí na OCHOTĚ ČLOVĚKA PRACOVAT NA SOBĚ.
		TUTO PRÁCI ZA NÁS NIKDO JINÝ UDĚLAT NEMŮŽE.
	</b>
</p>

<b>Jedná se o tyto typy Mistrovských energií (jiné osobně nemám zmapované):</b>

<h2>MÁHATMÁ</h2>
<p>
	Tato vysokofrekvenční Mistrovská jemná energie přináší pocit "lehkosti".
	Navozuje okamžitý kontakt se sídlem duše a uvolňuje nervové napětí.
	Znovu cítíme přítomnost Boha V Nás... Vnímáme jemnou jasnou bílou světelnou vibraci,
	která pozvolna proplouvá naším tělem, které se zdá lehoučké jako pírko.
	Blokovaná kreativita se opět probouzí k životu,
	navzdory našim problémům opět vnímáme smysl našeho života.
</p>
<p>
	<img class="right" src="img/mahatma.jpg" alt="Máhatmá" title="Máhatmá" />
	Je velice zajímavé, že ze zkušeností se Máhatmá projevuje velice často přítomností Hinduistických božstev,
	které přinášejí klientům inspiraci k tvůrčím počinům. Bohyně Sarasvatí, Ganéša, Lakšmí a další, přicházejí jako poslové znovu nalezeného míru.
	Odlehčují břemeno starostí a do duše přichází opět hravost a víra ve vyřešení a zvládnutí momentálních obtíží.
	Inspirace se projevuje také jako zvýšené pochopení pro životní situce - poznáním jejich smyslu.
	Máhatmá uvolňuje náboženské, společenské či rasové předsudky, posiluje toleranci a vnitřní vizi.
</p>
<p>
	<b>Máhatmá je báječný nástroj pro:</b>
</p>
<ul>
	<li>lidi trpící přílišnou kritičností</li>
	<li>podpoření kreativní stránky života a hravosti</li>
	<li>ulehčení ve stavu mentálního přetížení</li>
	<li>podporu spontaneity a nalezení krásy ve "všedním životě"</li>
	<li>pochopení příčin našich potíží a posílení nadhledu</li>
	<li>přijetí vlastní sexuality jako přirozené tvůrčí energie</li>
	<li>zvýšení zájmu o okolí, světové problémy a vzdělání</li>
	<li>posílení pocitu jednoty a sounáležitosti s druhými</li>
</ul>

<h2>SHAMBALLA 1024</h2>
<p>
	O Posvátném městu Shamballa a o mocném působení energie, kterou lze předávat se podrobně dočtete na mnoha webových stránkách.
	V jakých oblastech působí tato energie nejsilněji podle zkušeností:
</p>
<p>
	<img class="left" src="img/shamballa.jpg" alt="Shamballa 1024" title="Shamballa 1024" />
	Síla této Svaté energie propojuje naši duši s jejím původem.
	Někteří klienti přicházejí do kontaktu s Archandělskými bytostmi - cítí jejich přítomnost, nebo je přímo vnitřním zrakem vidí.
	Cítí nezvyklé příjemné vůně a vnímají fyzickou a emocionální úlevu.
	Někdy se stává, že klient prožívá během působení určitý vnitřní děj,
	kdy vnímá Mistry Shambally, kteří pracují s jeho energií uprostřed krásných chrámů,
	mění jeho vibrace, nasazují šperky s drahými léčivými kameny, nebo udílejí pokyny do jeho další životní cesty.
	Já jsem zažila pocit na korunní čakře, jako by se mi tam vytvořil fialový kanál sahající vysoko do nebe
	a pak před můj vnitřní zrak předstoupili Mistři – konkrétně nanebevzatý mistr Saint Germain a Lady Nada.
	Oba vytvořili svými těly Runu Fehu.
	Pak mi postupně podali ruku a představili se mi.
	Při vyšších stupních jsem procházela různými místy ve vesmíru a přistupovali ke mně různí Archandělé
	včetně Ježíše Krista a Panny Marie a předávali mi různá světla, krystaly a šperky.
</p>
<p>
	Né všichni musí mít nutně vizuální vjemy.	Určitá skupina lidí například vnímá energii,
	která projíždí tělem a v určitých místech se hromadí jako vír,	který odbourává fyzickou, či psychickou bolest.
	Dostavuje se stav lehkosti, který někteří klienti vnímají jako "nadlehčení těla".
	Dostavují se pocity "lehké hlavy", příjemné brnění a zklidnění mysli.
</p>
<p>
	<b>Shamballa 1024 je báječný nástroj pro:</b>
</p>
<ul>
	<li>posílení komunikace s Vyššími silami, které nás chrání</li>
	<li>posílení komunikace s Vlastní Duší</li>
	<li>léčbu chronických potíží a závislostí</li>
	<li>depresivní stavy</li>
	<li>karmická zranění, energetické bloky</li>
	<li>hledání vlastního životního směru</li>
	<li>posílení vůle v oblastech, kde selháváme</li>
</ul>

<h2>RA-SHEEBA</h2>
<p>
	Mocná energie Ra-Sheeba, je znovuzrozeným zasvěcovacím a uzdravujícím energetickým systémem, který byl využíván faraóny ve starém Egyptě.
	Je to doslova Královská energie, která má málo společného s "něžnou náručí Shambally, či Máhatmá"...
</p>
<p>
	<img class="right" src="img/ra-sheeba.jpg" alt="Ra-sheeba" title="Ra-sheeba" />
	Tato energie je velmi často vnímána jako velmi dynamická a mocná vibrace, která pracuje především v oblasti 3 spodních čaker.
	Posiluje odvahu, fyzickou vitalitu, průbojnost a pomáhá lépe se pohybovat v materiální sféře a obasti osobního úspěchu.
	Dodává sebevědomí a rozhodnost.
	Je ideální pro lidi, kteří mají málo elánu a síly.
	Naopak pro hyperaktivní jedince tuto energii příliš nedoporučujeme :-)
</p>
<p>
	Někteří klienti cítí, jakoby se jim páteří prolévalo tekuté zlato, v oblasti solaru vnímají horkost a světlo,
	popřípadě jim silné vibrace projíždí v oblasti pánve a nohou, prohřívají se chodidla.
	Někdy klient sám sebe vidí, jak předstupuje před Mistry Ra - Sheeby (často v podobě Faraonů),
	kteří povstanou ze svých trůnů a začnou pracovat s jeho osobní energií.
	Jindy se dostavují pocity nečekané fyzické síly a "ukotvení" v těle,
	často klienti silně vnímají pohyby a světlo v oblasti třetího oka.
	Lidé fyzicky unavení, pociťují náhlý nával elánu do těla i mysli.
</p>
<p>
	Já jsme zažila něco naprosto jedinečného a neskutečného při mém zasvěcení, a také při zasvěcování mých klientů.
	Byl to rituál, která jsem nejen viděla, ale i vnímala zcela jasně fyzicky.
	Při obřadu mi byla otvírána různá centra v těle, páteřní obratle,
	lebka a byly mi tam vsunovány různé zlaté destičky a trubičky.
	Cítila jsem to naprosto fyzicky a viděla jsem vnitřním zrakem každý detail.
	Vše bylo zlaté a vypadalo to jako z tekutého zlata, které tvoří útvary,
	stejně, jako když tekutá rtuť vlastně neteče, ale tvoří útvary.
	Procházela jsem chodbami v pyramidách a skládala test odvahy, byla jsem rituálně protkávána na sarkofágu.
	Nemohla jsem tomu ani uvěřit.	Síla, která do mě vstoupila, byla obrovská a měla docela jinou kvalitu
	než síla energie Shambally či Rei-ki nebo Máhatmá.
</p>
<p>
	<b>Ra–Sheeba je báječný nástroj pro:</b>
</p>
<ul>
	<li>lidi se slabou vůlí, kterým chybí odhodlání a rozhodnost</li>
	<li>potíže se slabou fyzickou konstitucí a vitalitou</li>
	<li>potíže se zuby, kostmi, nízkou schopností fyzické regenerace</li>
	<li>lepší orientaci v kariéře a posílení sebevědomí</li>
	<li>lidi, kterým chybí "pevná půda pod nohama"</li>
	<li>uvědomění si "vyšší ochrany" ve fyzické realitě a vlastních schopností</li>
	<li>přijetí krásy svého fyzického těla a motivace k pohybu (cvičení, tanec..)</li>
	<li>převzetí zodpovědnosti za svůj život, vystoupení z role oběti</li>
</ul>

<h2>REI-KI (REIKI)</h2>
<p>
	<img class="left" src="img/rei-ki.jpg" alt="Rei-ki" title="Rei-ki" />
	Rei-ki znamená univerzální láskyplnou léčivou energii.
	Zasvěcuje se (neboli aktivuje schopnost jejího přenosu a používání) pomocí vkládání symbolů do aury.
</p>
<p>
	Terapie Reiki prováděná zkušeným praktikem pomáhá při harmonizaci i udržení optimálního zdravotního stavu,
	zlepšuje také účinnost jiných druhů terapie.
	Terapii Reiki může klient cítit jako teplé záření nebo naopak jako mrazivé mravenčení, které protéká jeho fyzickým tělem i kolem něj.
	Reiki sjednocuje celou osobu (tělo, psychiku i bytostné Já), vytváří mnoho prospěšných efektů včetně relaxace, pocitů harmonie, klidu.
	Energie Reiki svými frekvencemi, vyššími než má běžně energetické pole člověka, pomáhá též k rozvoji tzv. mimosmyslového vnímání, zvyšuje intuici.
</p>
<p>
	Energie Reiki aktivuje přirozenou tělesnou schopnost obnovit si své zdraví.
	Měla by nám pomoci pochopit, že právě naše myšlenky, emoce a postoje k životu určují náš zdravotní stav, náš život, naše okolí.
	Energie Reiki jde do hlubších úrovní osoby, kde má každá nemoc a též nepříznivý osud svůj původ.
	Pravidelné používání energie Reiki pomáhá rozpouštět zablokované energie,
	očišťuje tělo, mysl i emoce od toxinů a snaží se vytvořit stav rovnováhy.
	Energie Reiki podporuje přirozenou schopnost buněk lidského těla obnovovat se k dokonalosti,
	tudíž tato metoda urychluje a povznáší všechny postupy klasické i alternativní medicíny.
	Posiluje v nás i schopnost převzít odpovědnost za své zdraví, svůj život,
	a pomáhá nám učinit nutné změny v našich postojích i v našem životním stylu,
	jež jsou potřebné ke šťastnějšímu, plnohodnotnějšímu a zdravějšímu životu.
</p>

<h2>BOŽÍ SVĚTLO</h2>
<p>
	<img class="right" src="img/bozi-svetlo.jpg" alt="Boží světlo" title="Boží světlo" />
	Ochranný Symbol použitelný za různým účelem,
	například za účelem odvádění přivtělených zbloudilých duší,
	nežádoucích entit a k plnění různých přání s čistým úmyslem.
</p>
<br>
<br>
<br>
<br>
<br>
