{var $title = 'Nabídka Kurzů'}

{block content}
<h2>Nabídka Kurzů</h2>

<p>
	Pořádám a vedu <a target="_blank" href="http://www.kranio-sakralni-terapie.cz/kurzy-kraniosakralni-terapie">kurzy Kraniosakrální terapie</a>,
	léčitelské <a target="_blank" href="http://www.kranio-sakralni-terapie.cz/kurz-prace-energie">kurzy Práce s energií</a>,
	<a target="_blank" href="http://www.kranio-sakralni-terapie.cz/kurz-astrologie">kurz Astrologie hrou</a>,
	<a target="_blank" href="http://www.amarhea.cz/rodinne-konstelace">kurz Šamanských rodinných konstelací</a>,
	<a n:href="samanske-seminare">Šamanské semináře</a>,
	<a target="_blank" href="http://www.slunecnikruh.cz/mix-orient-dance.php">kurz Tance Mix Orient Dance</a> a další.
</p>
<p>
	Podrobnosti a termíny kurzů najdte na stránkách <a target="_blank" href="http://www.kranio-sakralni-terapie.cz/kurzy-kraniosakralni-terapie">www.kranio-sakralni-terapie.cz v sekci Kurzy</a>.
</p>
<p>
	Na vyžádání jsem schopna pro vaši skupinku (výjimečně i jednotlivce) udělat nějaký seminář či kurz „na míru“ podle vašeho zadání a mé kvalifikace a schopností.
</p>
