<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="Prožijte víkendový Šamanský seminář. Při tanci v rytmu bubnů sladíte tlukot svého srdce s tlukotem srdce Matky Země. Vytvoříte tak silné energetické pole.">
		<meta name="keywords" content="Šamanka, Šamanský seminář, šamanské bubnování, šamanismus">
		<meta name="robots" content="{$robots}" n:ifset="$robots">
		<title>Šaman-Ka - {$title}</title>
		<link rel="stylesheet" href="samanka.css" type="text/css">
		<link rel="shortcut icon" href="/favicon.ico" />
	</head>
	<body>
		<div id="page">
			<div id="head">
				<img id="eagle" width="370" height="311" src="img/orel.png" alt="Šaman-ka" title="Šaman-ka" />
				<a n:href="domu"><img id="logo1" width="241" height="58" src="img/samanske.png" alt="Šamanské semináře" title="Šamanské semináře" /></a>
				<a n:href="domu"><img id="logo2" width="204" height="42" src="img/seminare.png" alt="Šamanské semináře" title="Šamanské semináře" /></a>
				<div id="menu">
					<ul>
						<li{ifCurrent domu } class="current"{/ifCurrent}><a n:href="domu">Domů</a></li>
						<li{ifCurrent zdenkaOcelikova } class="current"{/ifCurrent}><a n:href="zdenka-ocelikova">Kdo jsem</a></li>
						<li{ifCurrent mojeCestaSamana } class="current"{/ifCurrent}><a n:href="moje-cesta-samana">Moje cesta</a></li>
						<li{ifCurrent amulety } class="current"{/ifCurrent}><a n:href="amulety">Amulety</a></li>
						<li{ifCurrent zasveceni } class="current"{/ifCurrent}><a n:href="zasveceni">Zasvěcení</a></li>
						<li{ifCurrent mistrovskeEnergie } class="current"{/ifCurrent}><a n:href="mistrovskeEnergie">Mistrovské energie</a></li>
						<li{ifCurrent samanskeSeminare } class="current"{/ifCurrent}><a n:href="samanskeSeminare">Šamanské semináře</a></li>
						<li{ifCurrent astrologieTanec } class="current"{/ifCurrent}><a n:href="astrologieTanec">Astrologie a tanec</a></li>
						<li{ifCurrent samanskeRuce } class="current"{/ifCurrent}><a n:href="samanske-ruce">Šamanské ruce</a></li>
						<li{ifCurrent samanismus } class="current"{/ifCurrent}><a n:href="samanismus">Šamanismus</a></li>
						<li{ifCurrent samanKa } class="current"{/ifCurrent}><a n:href="saman-ka">Šaman-Ka</a></li>
						<li{ifCurrent matkaMeera } class="current"{/ifCurrent}><a n:href="matka-meera">Matka Meera</a></li>
						<li{ifCurrent kontakt } class="current"{/ifCurrent}><a n:href="kontakt">Kontakt</a></li>
					</ul>
					<div id="amarhea">
						<img width="98" height="148" src="img/amarhea.png" alt="Amarhea" />
					</div>
				</div>
				<div id="content">
					{include #content}
				</div>
				<div class="clr"></div>
				<div id="design">
					<a n:if="$toplist" href="http://www.toplist.cz/stat/1707324" target="_blank">
						<script language="JavaScript" type="text/javascript">
							document.write('<img src="https://toplist.cz/count.asp?id=1707324&logo=mc&http=' + escape(document.referrer) + '&t=' + escape(document.title) + '&wi=' + escape(window.screen.width) + '&he=' + escape(window.screen.height) + '&cd=' + escape(window.screen.colorDepth) + '" width="88" height="60" border=0 alt="TOPlist" />');
						</script>
						<noscript>
						<img src="https://toplist.cz/count.asp?id=1707324&logo=mc" border="0" alt="TOPlist" width="88" height="60" />
						</noscript>
					</a><br>
					<a href="mailto:veronikazikanova@centrum.cz">veronikazikanova@centrum.cz</a>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27641691-8']);
			_gaq.push(['_trackPageview']);
			(function () {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>
